.modal-add-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 27px;
  color: #111111;
}

.modal-add-name-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #111111;
}

.modal-add-priority-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #111111;
  margin: 10px 0;
}

.modal-add-name-input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 15px;
  margin: 10px 0;
}

.modal-add-save-button {
  padding: 10px 35px;
  background: #16abf8;
  border-radius: 45px;
  border: 0;
}

.modal-add-save-button:disabled {
  opacity: 0.2;
}
.modal-add-save-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
